:root{
    --darkBG: rgb(93, 22, 160);
    --lightText: rgb(229, 214, 247);
    --notSelected: rgb(216, 216, 216);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
    font-family: Rubik, sans-serif;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

body {
    align-items: center;
    height: 100vh;
}

button {
    background: none;
}

.header{
    width: 100%;
    height: 100px;
    background-color: var(--darkBG);
    color: var(--lightText);
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.content {
    height: 100%;
    justify-content: space-evenly;
}

.score-view{
    justify-content: space-around;
    height: 15vh;
    align-items: center;
    width: 100%;
}

.score-section {
    gap: 20px;
    justify-content: center;
    font-size: 2em;
}

.controls {
    gap: 50px;
}

.human {
    gap: 10px;
}

.computer {
    justify-content: flex-start;
    align-items: center;
}

.player-choice > img, .computer-choice > img {
    border: 10px solid var(--notSelected);
    border-radius: 20%;
    width: 100px;
    height: 100px;
}

.seperator{
    justify-content: center;
    font-size:3em;
}

.computer-choice{
    height: 100%;
    justify-content: center;
    align-items: center;
}

.footer {
    height: 3em;
    width: 100%;
    background-color: var(--darkBG);
    color: var(--lightText);
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}